@model TextilesMedicosJDJ.Models.Produccion

@{
    ViewData["Title"] = "Cancelar";
}

<h1>Cancelar Orden</h1>

<h3>¿Seguro que deseas cancelar la orden de producción?</h3>
<div>
    <h4>Produccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioAproximado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioAproximado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaProducción)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaProducción)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProduccion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a ordenes</a>
    </form>
</div>
